#buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
    max-width: 320px;
    margin: 32px auto;
  }
  
  #buttons button {
    cursor: pointer;
    padding: 7px 16px;
    border: 1px solid #ef156c;
    border-radius: 5px;
    background-color: #ef156c;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
  }